<footer>
  <ul>
    <li><a href="mailto:me@amypaslak.com"><i class="fas fa-envelope fa-lg"></i></a></li>
    <li><a href="https://github.com/apaslak"><i class="fab fa-github fa-lg"></i></a></li>
    <li><a href="https://twitter.com/AyMeeko"><i class="fab fa-twitter"></i></a></li>
    {% if page.selected_nav == '/blog/' or layout.selected_nav == '/blog/' %}
      <li><a href="/archive/"><i class="fas fa-list fa-lg"></i></a></li>
    {% endif %}
	<li><a href="{{page.url}}" id="theme-toggle" onclick="modeSwitcher()"></a></li>
  </ul>
  <script src="/scripts/theme-switcher.js"></script>
</footer>
