<nav class="u-full-width">
  <div id="name"><a href="/" {% include selected_nav.html permalink="/" %}>Amy Paslak</a></div>
  <ul>
    <li><a href="/about" {% include selected_nav.html permalink="/about/" %}>About</a></li>
    <li><a href="/projects" {% include selected_nav.html permalink="/projects/" %}>Projects</a></li>
    <li><a href="/blog" {% include selected_nav.html permalink="/blog/" %}>Blog</a></li>
    <li><a href="/library" {% include selected_nav.html permalink="/library/" %}>Library</a></li>
  </ul>
</nav>
