<nav class="u-full-width">
  <h1 class="name"><a href="/" {% include selected_nav.html permalink="/" %}>Amy Paslak</a></h1>
  <ul>
    <h4>
      <li><a href="/about" {% include selected_nav.html permalink="/about/" %}>About</a></li>
	  <li><a href="/blog" {% include selected_nav.html permalink="/blog/" %}>Blog</a></li>
      <li><a href="/library" {% include selected_nav.html permalink="/library/" %}>Library</a></li>
      <li><a href="/resume" {% include selected_nav.html permalink="/resume/" %}>Résumé</a></li>
    </h4>
  </ul>
</nav>
