$header_font: 'Francois One', sans-serif;
$body_font: "Lato", sans-serif;

// Blog contents
$code_background: #181926;
$code_font: "JetBrains Mono", monospace;
$list_item_marker: #ee99a0;

// Resume
$resume_section_border: grey;
$resume_link: #1E032D; // rgb(30,3,45);
$resume_hover_link: $resume_link;
$resume_nav_border_bottom_link_hover: #B764E5; // rgb(183,100,229);
