// Overall
$background: #24273a;
$hr: #494d64;

$header_font: 'Francois One', sans-serif;
$body_font: "Lato", sans-serif;

$text: #cad3f5;
$link: #ee99a0;
$hover_link: #8bd5ca;

// Navigation
$nav_border_bottom_link_selected: #8aadf4;
$nav_border_bottom_link_hover: $hr;

// Blog contents
$code_background: #181926;
$code_font: "JetBrains Mono", monospace;
$list_item_marker: #ee99a0;

// Resume
$resume_section_border: grey;
$resume_link: #1E032D; // rgb(30,3,45);
$resume_hover_link: $resume_link;
$resume_nav_border_bottom_link_hover: #B764E5; // rgb(183,100,229);
