body {
  margin-bottom: 40px;
  font-family: "Lato", sans-serif;
}

.with-nav {
  padding-top: 65px;
}

a {
  text-decoration: none;
  color: rgb(78,15,112);
}

a:hover {
  text-decoration: none;
  color: rgb(183,100,229);
}

p {
  line-height: 1.4em;
  font-size: 1em;
  color: rgb(30,3,45);
}

hr {
  border-top: 1px solid rgb(183,100,229);
  margin: 2rem;
}

.books {
  list-style: none;
}

.book {
  img {
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 15px;
  }
}

#not-found {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

