@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

html, html[data-theme="dark"] {
  --main-background-color: var(--ctp-macchiato-base);
  --main-text-color: var(--ctp-macchiato-text);
  --header-link-color: var(--ctp-macchiato-maroon);
  --header-link-hover-color: var(--ctp-macchiato-teal);
  --link-color: var(--ctp-macchiato-maroon);
  --link-hover-color: var(--ctp-macchiato-teal);
  --hr-color: var(--ctp-macchiato-surface1);
  --nav-border-bottom-link-selected: var(--ctp-macchiato-blue);
  --nav-border-bottom-link-hover: var(--ctp-macchiato-surface1);
  --code-background: var(--ctp-macchiato-crust);
  --list-item-marker: var(--ctp-macchiato-maroon);
}

html, html[data-theme="light"] {
  --main-background-color: var(--ctp-latte-base);
  --main-text-color: var(--ctp-latte-text);
  --header-link-color: var(--ctp-latte-maroon);
  --header-link-hover-color: var(--ctp-latte-blue);
  --link-color: var(--ctp-latte-maroon);
  --link-hover-color: var(--ctp-latte-teal);
  --hr-color: var(--ctp-latte-surface1);
  --nav-border-bottom-link-selected: var(--ctp-latte-blue);
  --nav-border-bottom-link-hover: var(--ctp-latte-surface1);
  --code-background: var(--ctp-latte-crust);
  --list-item-marker: var(--ctp-latte-maroon);
}

@media (prefers-color-scheme: dark) {
  html, html[data-theme="dark"] {
    --main-background-color: var(--ctp-macchiato-base);
    --main-text-color: var(--ctp-macchiato-text);
    --header-link-color: var(--ctp-macchiato-maroon);
    --header-link-hover-color: var(--ctp-macchiato-teal);
    --link-color: var(--ctp-macchiato-maroon);
    --link-hover-color: var(--ctp-macchiato-teal);
    --hr-color: var(--ctp-macchiato-surface1);
    --nav-border-bottom-link-selected: var(--ctp-macchiato-blue);
    --nav-border-bottom-link-hover: var(--ctp-macchiato-surface1);
    --code-background: var(--ctp-macchiato-crust);
    --list-item-marker: var(--ctp-macchiato-maroon);
  }

  html[data-theme="light"] {
    --main-background-color: var(--ctp-latte-base);
    --main-text-color: var(--ctp-latte-text);
    --header-link-color: var(--ctp-latte-maroon);
    --header-link-hover-color: var(--ctp-latte-blue);
    --link-color: var(--ctp-latte-maroon);
    --link-hover-color: var(--ctp-latte-teal);
    --hr-color: var(--ctp-latte-surface1);
    --nav-border-bottom-link-selected: var(--ctp-latte-blue);
    --nav-border-bottom-link-hover: var(--ctp-latte-surface1);
    --code-background: var(--ctp-latte-crust);
    --list-item-marker: var(--ctp-latte-maroon);
  }
}

body {
  margin-bottom: 40px;
  font-family: $body_font;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  line-height: 1.6em;
  font-size: 1.8em;
}

.with-nav {
  padding-top: 65px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
  color: var(--link-hover-color);
}

hr {
  border-top: 1px solid var(--hr-color);
  margin: 2rem;
}

.books {
  list-style: none;
}

.book {
  img {
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 15px;
  }
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#landing-page {
  font-size: 2em;
  img {
    width: 60%;
  }
}
