@mixin link {
  a {
    color: var(--link-color);
    padding: 0px 5px 0px 5px;
  }

  a:hover {
    text-decoration: none;
    color: var(--link-hover-color);
    border-bottom: 2px solid var(--nav-border-bottom-link-hover);
  }

  a.selected {
    border-bottom: 2px solid var(--nav-border-bottom-link-selected);
  }
}

.name {
  float: left;
  font-size: 3em;
  margin-left: 10px;
  font-family: $header_font;
  font-weight: 700;

  @include link;
}

nav {
  height: 55px;
  line-height: 55px;
  padding-bottom: 10px;
  background: var(--main-background-color);
  z-index: 2;
  position: fixed;


  ul {
    float: right;
    margin-bottom: 0px;
    line-height: 55px;
    font-weight: bold;
    list-style: none;

    @include link;
  }

  ul li {
    display: inline;
    margin: 0 5px;
    font-family: $header_font;
  }
}

footer {
  font-size: .8em;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 35px;
  width: 100%;
  background: var(--main-background-color);
  line-height: 35px;

  ul {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;

    @include link;
  }

  ul li {
    text-align: center;
    margin: 0 5px;
    display: inline;
  }
  ul li a {
    color: var(--link-color);
  }
}

@media (max-width: 599px) {
  nav {
    height: 84px;

    .name {
      float: unset;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      margin: 0px -100px 0px 0px;
    }

    div a {
      border-bottom: 2px solid var(--nav-border-bottom-link-hover);
    }

    ul {
      float: unset;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      top: 30px;
      margin: 15px -130px 0px 0px;
    }

    ul li {
      font-size: 1.5em;
      margin: 0px;
    }
  }

  .container {
    padding-top: 100px;
  }
};
