<div id="name" class="row">
  <div class="twelve columns">
    <a class="name" href="/">Amy Paslak</a>
  </div>
</div>
<ul id="contact" class="row">
  <div class="twelve columns">
    <li><i class="fas fa-envelope"></i><a href="mailto:amy.paslak@gmail.com">amy.paslak@gmail.com</a></li>
    <li>
		<i class="fab fa-github"></i><a href="https://github.com/apaslak">apaslak</a> |
		<a href="https://github.com/aymeeko">aymeeko</a>
	</li>
    <li><i class="fas fa-globe"></i><a href="https://amypaslak.com">amypaslak.com</a></li>
  </div>
</ul>
