<div class="row section" id="summary">
  <div class="three columns"><h5>Summary</h5></div>
  <div class="nine columns">
    <p>
    Stumbling into web design at a young age, I've been building apps, websites, and tools for over 15 years. I love solving problems and digging into code to determine how it works or could be improved. I absorb everything I can about my work and aspire to deliver elegant, scalable, and reliable code.
    </p>
    <p>
    I love what I do, and aim to grow with like-minded engineers, building amazing tech.
    </p>
  </div>
</div>
