<!DOCTYPE html>
<html>
  <head>
    <title>Amy Paslak</title>
    <link rel="stylesheet" href="{{ page.stylesheet | default: 'main.css' | prepend: '/assets/css/' }}">
    <link rel="stylesheet" href="/assets/css/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/skeleton.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quando" rel="stylesheet"> -->
  </head>
  <body>
    <div class="container u-full-width">
      <div class="centered">
        <h1>Hi.</h1>
      </div>
    </div><!-- /.container -->
  </body>
</html>
